<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/stylesheet.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-indigo">
    <a class="navbar-brand" href="#">BootCamp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Challenges <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Practice</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Companies </a>
            </li>

        </ul>
    </div>
</nav>


    <div class="container">


    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="hovereffect">

                <a href="#"><img class="card-img-top" src="/wp.jpeg" alt=""></a>

                <div class="card-body"><div class="company-info">

                        <div class="company-meta-info">

                            <div class="name ellipsis">HERE Technologies</div><!-- name -->

                                <div class="light location ellipsis">
                                    <i class="fa fa-map-marker less-margin-right"></i>
                                    <span>Mumbai</span>
                                </div>

                        </div>
                        <div class="clear"></div>
                        <div class="openings-block" link="/jobs/here-technologies/">

                            <div class="opening-div">
                                <i class="fa fa-magic fa-orange"></i>
                                <span class="light openings">8 openings available</span>
                            </div>

                            <div class="clear"></div>
                        </div>
                    </div>
                    <h4 class="card-title">
                        <label>Project One </label>
                    </h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">

            <div class="hovereffect">
                <a href="#"><img class="card-img-top" src="/wp.jpeg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <lable>Project two</lable>
                    </h4>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
            <div class="hovereffect">
                <a href="#"><img class="card-img-top" src="/wp.jpeg" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <lable>Project three</lable>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    </div>
        <!--<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">-->
            <!--<div class="hovereffect">-->
                <!--<img class="img-responsive" src="wp.jpeg" alt="">-->
                <!--<div class="overlay">-->
                    <!--<h2>Hover effect 1</h2>-->
                    <!--<a class="info" href="#">link here</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->



<p> <center><i> This is The New Line in Html</i></center> </p>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>